.background-image {
    background-image: url(images/flood2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
}

.background-image h1 {
    font-family: inter, sans-serif;
    text-align: center;
    font-size: 70px;
    color: aliceblue;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

p {
    text-align: center;
    color: white;
    font-family: poppins;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.donate-button {
    display: flex;
    justify-content: center;
    background-color: #FF5959;
    color: white;
    font-weight: 800;
    text-decoration: none;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 5px;
    padding: 5px;



}

.donate-today {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

#alternative-p {
    color: #707070;
    font-size: 18px;
    font-style: poppins;
    margin-top: none;

}

#ammount1 {
    text-decoration: none;
    background-color: whitesmoke;
    color: #707070;
    border-radius: #FF5959;
    padding-right: 25px;

}

#ammount2 {
    text-decoration: none;
    background-color: whitesmoke;
    color: #FF5959;
    border: 2px solid #FF5959;
    padding-right: 25px;
}

#ammount3 {
    text-decoration: none;
    background-color: whitesmoke;
    color: #707070;
    padding-right: 25px;
}

#ammount4 {
    text-decoration: none;
    background-color: whitesmoke;
    color: #707070;
    padding-right: 25px;
}

#ammount5 {
    text-decoration: none;
    background-color: whitesmoke;
    color: #707070;
}

#donate-2 {
    background-color: #FF5959;
    color: white;
    text-decoration: none;

}

:placeholder-shown {
    text-align: center;
    font-size: 20px;

}

.donation-plan {
    text-align: center;
    font-size: 50px;
}

.container-flex {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.container-flex div {
    align-items: center;
    margin: 20px;
    width: 100%;
    padding: 10px;
}

#item1 {
    background-color: #b2d1d48f;

}

#item2 {
    background-color: hwb(0 76% 17% / 0.89);
}

#item3 {
    background-color: #f8d6d6;
}

#item1 p {
    color: #707070;
    text-align: left;
}

#item2 p {
    color: #707070;
    text-align: left;
}

#item3 p {
    color: #707070;
    text-align: left;
}

h2 {
    text-align: center;
}

.get-update {
    text-align: center;
    font-size: 50px;
}

.get-update span {
    text-align: center;
    font-size: 25px;
    color: #707070;
}

.box {
    background-color: #FFF4D6;
    margin: 50px 200px 0 200px;
    padding: 50px;

}

.form-box button {
    color: white;
    background-color: #FF5959;
    font-size: 23px;
    padding: 0;
    margin: 0;
    border: none;
}

.form-box input {
    background-color: #D9D9D9;
    text-align: left;
    margin: 0;
}

footer {
    background-color: #0B0D17;
}

.foot {
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    color: #FF5959;
    padding-top: 10px;
}

.foot p {
    font-size: 15px;
    color: #707070;
    font-size: 'lobster';
    margin-bottom: auto;

}

.about-us {
    display: flex;
    margin-bottom: 10px;

}

.div1 {
    width: 50%;
    padding-left: 5px;
    padding-right: 10px;
}

.div2 {
    width: 50%;
    padding-left: 5px;


}

.div2 img {
    width: 650px;
    height: 500px;

}

.div1 h1 {
    color: rgb(10, 2, 2);
    font-size: 50px;
    font-weight: 700;
    background-color: rgb(209, 201, 201);
    margin-right: 68%;
    border: 2px solid rgb(54, 50, 50);
    border-radius: 5px
}

.div1 span {
    font-size: 20px;
    color: #707070;
}

hr {
    margin-left: 25%;
    margin-right: 25%;
}

.other span {
    color: #707070;
    font-size: 18px;

}